*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utility Styles */
.container {
  width: 90%;
  margin-inline: auto;
}

.divider {
  border-top: 1px solid #4a7766;
  width: 50%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* Base Styles */
body {
  background-color: #ece7e2;
  font-family: "Poppins", sans-serif;
}

section h2 {
  color: #4a7766;
  font-weight: 700;
  font-size: 1.5rem;
  margin-block: 1rem;
}

/* Mobile styles */
/* Header Styles */
header {
  padding-block: 0.5rem;
  background-color: #4a7766;
  position: sticky;
  top: 0;
}

/* Navbar Styles */
nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
  color: #ece7e2;
  letter-spacing: -3px;
  font-family: "Space Grotesk", sans-serif;
}

nav.navbar #drop-nav {
  background-color: #4a7766;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 0;
  top: 3.25rem;
  right: 0;
  transition: all 0.4s ease-in-out;
}

nav.navbar #drop-nav ul.nav_links {
  display: none;
  list-style: none;
  color: #ece7e2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

nav.navbar #drop-nav.drop-nav {
  height: 25vh;
  border-top: 2px solid #ece7e2;
  padding-block: 1rem;
}

nav.navbar #drop-nav.drop-nav ul.nav_links {
  display: flex;
}

ul.nav_links li a.nav_link {
  color: inherit;
  text-decoration: none;
  padding-block: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 300ms;
}

header .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 19px;
  cursor: pointer;
  z-index: 99;
}

.hamburger::marker {
  display: none;
  color: #ece7e2;
  background: #ece7e2;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #ece7e2;
  transition: transform 0.4s ease-in-out;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

a.mssg {
  display: none;
}

/* Main Styles */
main.container {
  margin-block: 1rem;
}

/* Home section */
section.home {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
}

section.home p.hello {
  font-size: 1rem;
  color: #333333;
  font-weight: 500;
}

h1 {
  text-align: center;
  color: #4a7766;
  font-weight: 700;
  font-size: 2rem;
}

section.home img.photo {
  align-self: center;
  border-radius: 50%;
  width: 45%;
  height: 145.8px;
  border: 4px solid #d0701038;
  margin-block: 1rem;
}

/* About Section */
section.about {
  padding-block: 2rem;
}

section.about .header .divider {
  width: 57%;
}

section.about p.about {
  margin-block: 0.5rem 1rem;
  color: #333333;
  font-size: 1rem;
  line-height: 1.8;
}

section.about aside.experience {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  margin-block: 1.5rem;
  text-align: center;
  color: #333333;
}

.skill p {
  font-weight: 600;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.4rem;
}

.skill span {
  font-weight: 500;
  font-size: 0.8rem;
  color: #61605f;
  padding-block: 1rem 0.3rem;
  border-bottom: 1px solid #3333336b;
  font-family: "Space Grotesk", sans-serif;
}

/* Contact Section */
section.contact {
  padding-block: 2rem;
}

p.contact {
  margin-block: 0.5rem 1rem;
  font-size: 1rem;
  color: #333333;
}

form {
  width: 100%;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
}

label {
  text-transform: uppercase;
  font-weight: 500;
  color: #333333;
  font-size: 0.8rem;
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
  border: none;
  background: transparent;
  border-bottom: 2px solid #61605f;
  padding-top: 0.5rem;
  margin-bottom: 2rem;
}

input:focus,
textarea:focus {
  outline: none;
}

form button {
  font-weight: 600;
  font-size: 1rem;
  place-self: center;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  padding: 0.5rem;
  border-bottom: 2px solid #4a7766;
  margin-top: 0.5rem;
  color: #333333;
}

/* Footer Styles */
footer {
  padding-block: 1rem;
  background-color: #4a7766;
}

nav.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.social_icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

a.social_link img {
  width: 27px;
}

footer p {
  text-align: center;
  font-size: 0.6rem;
  color: #ece7e2;
  font-weight: 600;
  margin-block: 2rem 0rem;
}

/* Desktop Styles */
@media (min-width: 48rem) {
  /* Header Styles */
  header {
    padding-block: 1rem;
  }

  nav.navbar #drop-nav {
    width: unset;
    position: relative;
    height: unset;
    flex-direction: row;
    top: unset;
    background-color: transparent;
  }

  nav.navbar #drop-nav ul.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    gap: 2rem;
    font-size: 1.2rem;
  }

  #hamburger {
    display: none;
  }

  a.mssg {
    display: block;
    padding: 0.5rem;
    background-color: transparent;
    font-family: inherit;
    border: 2px solid #ece7e2;
    border-radius: 10px;
    color: #ece7e2;
    font-weight: 500;
    text-transform: unset;
    font-size: 0.8rem;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
  }

  /* Main Styles */
  section.home {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 6rem;
    padding-block: 6rem 5rem;
  }

  section.home .welcome {
    width: 50%;
  }

  section.home p.hello {
    font-size: 1.3rem;
  }

  h1 {
    text-align: left;
    margin-block: 0.3rem 1rem;
    font-size: 5.5rem;
    line-height: 1.1;
  }

  section.home img.photo {
    border-radius: 50%;
    width: 30%;
    height: 340px;
  }

  /* About Section */
  section.about {
    padding-block: 5rem 6rem;
  }

  section.about .header .divider {
    width: 75%;
    border-top-width: 2px;
  }

  section h2 {
    font-size: 3.5rem;
  }

  section.about p.about {
    width: 80%;
    margin-inline: auto;
    margin-block: 2rem;
    font-size: 1.2rem;
    line-height: 1.8;
  }

  section.about aside.experience {
    flex-direction: row;
    justify-content: space-between;
    margin-block: 3rem;
  }

  .skill p {
    font-size: 2rem;
  }

  .skill span {
    padding-block: 1rem 0.1rem;
    font-size: 1rem;
  }

  /* Contact Section */
  section.contact {
    padding-block: 5rem 2rem;
  }

  section.contact .header .divider {
    width: 70%;
    border-top-width: 2px;
  }

  p.contact {
    width: 80%;
    margin-inline: auto;
    margin-block: 2rem;
    font-size: 1.1rem;
  }

  form {
    width: 50%;
    margin-inline: auto;
    margin-top: 2rem;
  }

  label {
    font-size: 0.9rem;
  }

  input,
  textarea {
    padding-top: 1rem;
  }

  form button {
    margin-top: 2rem;
  }

  /* Footer Styles */
  footer ul.social_icons {
    gap: 2rem;
  }

  a.social_link img {
    width: 40px;
    padding-block: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: all 300ms ease-in;
  }

  /* Active Styles */
  ul.nav_links li a.nav_link:hover {
    color: #fff;
    border-bottom-color: #fff;
  }

  a.mssg:hover {
    background-color: #ece7e2;
    color: #4a7766;
  }

  a.social_link img:hover {
    border-bottom-color: #ece7e2;
  }

  footer p {
    font-size: 0.8rem;
  }
}
