*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin-inline: auto;
}

body {
  background-color: #ECE7E2;
  font-family: "Poppins", sans-serif;
}

/* Mobile styles */
/* Header Styles */
header {
  padding-block: 1rem;
  background-color: #4A7766;
  position: sticky;
  top: 0;
}

/* Navbar Styles */
nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
  color: #ECE7E2;
  letter-spacing: -3px;
  font-family: "Space Grotesk", sans-serif;
}

nav.navbar #drop-nav {
  background-color: #4A7766;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 0;
  top: 68px;
  right: 0;
  transition: all 0.4s ease-in-out;
}

nav.navbar #drop-nav ul.nav_links {
  display: none;
}

nav.navbar #drop-nav.drop-nav {
  height: 25vh;
  border-top: 2px solid #ECE7E2;
  padding-block: 1rem;
}

nav.navbar #drop-nav.drop-nav ul.nav_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #ECE7E2;
  gap: .5rem;
}

ul.nav_links li a.nav_link {
  color: inherit;
  text-decoration: none;
  padding-block: .5rem;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 300ms;
}

header .hamburger {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 19px;
  cursor: pointer;
  z-index: 99;
}

.hamburger::marker {
  display: none;
  color: #ECE7E2;
  background: #ECE7E2;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #ECE7E2;
  transition: transform 0.4s ease-in-out;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/*ul.nav_links {
  display: flex;
  gap: 2rem;
  list-style: none;
  color: #ECE7E2;
  font-size: 1.1rem;
}

ul.nav_links li a.nav_link:hover {
  color: #fff;
  border-bottom-color: #fff;
}

img.github {
  width: 60%;
}*/

/* Main Styles */
main.container {
  margin-block: 1rem;
}

section.home {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
}

section.home p.hello {
  font-size: 1rem;
  color: #333333;
  font-weight: 500;
}

h1 {
  text-align: center;
  color: #4A7766;
  font-weight: 700;
  font-size: 2rem;
}

section.home img.photo {
  align-self: center;
  border-radius: 50%;
  width: 45%;
  height: 145.8px;
  border: 4px solid #d0701038;
  margin-block: 1rem;
}

/* section.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 6rem;
  padding-block: 6rem 5rem;
}

section.home .welcome {
  width: 50%;
}

p.hello {
  font-size: 1.3rem;
  color: #333333;
  font-weight: 500;
}

h1 {
  color: #4A7766;
  font-weight: 700;
  margin-block: .3rem 1rem;
  font-size: 5.5rem;
  line-height: 1.1;
}

section.home img.photo {
  border-radius: 50%;
  width: 30%;
  height: 340px;
} */

/*section.about {
  padding-block: 5rem 6rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

section h2 {
  color: #4A7766;
  font-weight: 700;
  font-size: 3.5rem;
}

.divider {
  width: 100%;
  border-top: 2px solid #4A7766;
}

p.about {
  width: 80%;
  margin-inline: auto;
  margin-block: 2rem;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333333;
}

aside.experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 3rem;
  text-align: center;
  color: #333333;
}

.skill p {
  font-weight: 600;
  font-family: "Space Grotesk", sans-serif;
  font-size: 2rem;
}

.skill span {
  font-weight: 500;
  font-size: .8rem;
  color: #61605F;
  padding-block: 1rem .1rem;
  border-bottom: 1px solid #3333336b;
  font-family: "Space Grotesk", sans-serif;
}

section.contact {
  padding-block: 5rem 2rem;
}

section.contact .divider {
  width: 70%;
}

p.contact {
  width: 80%;
  margin-inline: auto;
  margin-block: 2rem;
  font-size: 1.1rem;
  color: #333333;
}

form {
  width: 50%;
  margin-inline: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

label {
  text-transform: uppercase;
  font-weight: 500;
  color: #333333;
  font-size: .9rem;
  font-family: inherit;
}

input, textarea {
  font-family: inherit;
  border: none;
  background: transparent;
  border-bottom: 2px solid #61605F;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

input:focus, textarea:focus {
  outline: none;
}

button {
  font-weight: 600;
  font-size: 1rem;
  place-self: center;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  padding: .5rem;
  border-bottom: 2px solid #4A7766;
  margin-top: 2rem;
  cursor: pointer;
}

footer {
  padding-block: 1rem;
  background-color: #4A7766;
}

nav.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.social_icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

a.social_link img {
  width: 40px;
  padding-block: .5rem;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease-in;
}

a.social_link img:hover {
  border-bottom-color: #333333;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  color: #ECE7E2;
  font-weight: 600;
  margin-block: 1rem;
} */